<h1>Restaurant</h1>

<div class="container">
  <div class="row">
    <div class="col-sm-3"><%= @restaurant.name %></div>
     <div class="col-sm-4"><%= @restaurant.address %></div>
  </div>
</div>

<h3> Reviews</h3>
<table>

<h3>Reviews for this restaurant</h3>
<div data-pjax-container>
  <% @restaurant.comments.each do |comment| %>
    <tr>
      <td>
        <%= comment.body %>
      </td>
    </tr>
  <% end %>
  </table>
</div>

<h3>Add a review</h3>

<%= form_for @restaurant.comments.build do |form| %>
  <%= form.hidden_field :restaurant_id %>
  <div>
    <%= form.label :body, "Review" %>
    <%= form.text_area :body %>
  </div>
  <%= form.submit "submit Review", class: 'new-review' %>
<% end %>
<br>
<%= link_to "back", restaurants_path %>
<br>
<%= link_to "Edit the restaurant", edit_restaurant_path(@restaurant)%>